    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Existing requests</h4>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                                    <li>
                                        <div class="row">
                                            
                                            <div class="col-xs-2 text-right">
                                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-arrow-right fa-lg"></i></button>
                                            </div>
                                            <div class="col-xs-10">
                                                    Hawaii
                                                    <br />
                                                    <span class="text-success"><small>01/22/18 - 01/29/18</small></span>
                                                </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-2 text-right">
                                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-arrow-right fa-lg"></i></button>
                                            </div>
                                            <div class="col-xs-10">
                                                Corona
                                                <br />
                                                <span class="text-success"><small>01/22/18 - 01/29/18</small></span>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-2 text-right">
                                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-arrow-right fa-lg"></i></button>
                                            </div>
                                            <div class="col-xs-10">
                                                The moon
                                                <br />
                                                <span class="text-success"><small>01/22/18 - 01/29/18</small></span>
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul>
                                <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <a><i class="fa fa-arrow-circle-right"></i> See all previous mobility packages</a>
                                        </div>
                                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New mobility request</h4><p></p>
                        <a><span class="fa fa-arrow-circle-right"></span>Populate from a previous mobility request</a>
                        
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>What is being shipped?</label>
                                        <input type="text" class="form-control border-input" placeholder="Dropdown goes here" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>When is it getting shipped and when is it returning?</label>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control border-input" placeholder="From date" value="">
                                            </div>
                                            <div class="col-sm-6">
                                                    <input type="text" class="form-control border-input" placeholder="To date" value="">                                                    
                                            </div> 
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>What is the outer label?</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="This is where USPS will deliver the package" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>What is the inner label?</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="This is a specific location inside the receiver's facility" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>What is the contact information for <b>general</b> point of contact at the receiving location?</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="We will verify general information with this person" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>What is the contact information for <b>security</b> point of contact at the receiving location?</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="(ISSM, ISSO, etc.) We will verify security information with this person" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Save and submit</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
